rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    match /jobs/{jobId} {
      allow read: if resource.data.active == true || signedIn();
      allow create, update, delete: if signedIn();
    }

    match /jobApplications/{applicationId} {
      allow create: if true;
      allow read, update, delete: if signedIn();
    }
  }
}
